.coloum1{
    width:23%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.topRatedMovies{
    background: #181a20;
    height: 400px;
    color: #fff;
    overflow-y: scroll;
    display: flex;
    flex-direction:column;
    gap: 20px;
}
.topRatedMovies::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
  }
.topRatedMovie{
    width: 90%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.topRatedMovies>p{
    margin-left: 20px;
}
.topRatedMovie>img{
    width: 28%;
    height: 80px;
    border-radius: 20px;
}
.topRatedMovie>div{
    width: 65%;
}
.topRatedMovie>div>p{
    margin-top: 8px;
}
.upcomingMovies{
    background: #181a20;
    height: 600px;
    color: #fff;
    overflow-y: scroll;
    display: flex;
    flex-direction:column;
    gap: 20px;
}
.upcomingMovies::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
  }
.upcomingMovie{
    width: 90%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.upcomingMovies>p{
    margin-left: 20px;
}
.upcomingMovie>img{
    width: 28%;
    height: 80px;
    border-radius: 20px;
}
.upcomingMovie>div{
    width: 65%;
}
.upcomingMovie>div>p{
    margin-top: 8px;
}